@media only screen and (min-width: 1141px) and (max-width: 2560px) {
  #iam-not {
    top: 75%;
    left: 41%;
  }
  #no-btn {
    top: 75%;
    left: 65%;
  }
  #yes-btn {
    top: 75%;
    left: 25%;
  }
  #download-btn {
    top: 75%;
    left: 44%;
  }
}
/* Normal desktop :1200px. */
@media only screen and (min-width: 1025px) and (max-width: 1140px) {
  #iam-not {
    top: 75%;
    left: 36%;
  }
  #no-btn {
    top: 75%;
    left: 60%;
  }
  #yes-btn {
    top: 75%;
    left: 25%;
  }
  #download-btn {
    top: 75%;
    left: 41%;
  }
}

/* Normal desktop :992px. */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  #iam-not {
    top: 75%;
    left: 36%;
  }
  #no-btn {
    top: 75%;
    left: 60%;
  }
  #yes-btn {
    top: 75%;
    left: 25%;
  }
  #download-btn {
    top: 75%;
    left: 41%;
  }
}

/* Tablet desktop :768px. */
@media only screen and (min-width: 426px) and (max-width: 768px) {
  #iam-not {
    top: 75%;
    left: 36%;
  }
  #no-btn {
    top: 75%;
    left: 60%;
  }
  #yes-btn {
    top: 75%;
    left: 25%;
  }
  #download-btn {
    top: 75%;
    left: 41%;
  }
}

/* Large Mobile :480px. */
@media only screen and (min-width: 376px) and (max-width: 425px) {
  /* .container {width:450px} */
  #iam-not {
    top: 75%;
    left: 25%;
  }
  #no-btn {
    top: 75%;
    left: 60%;
  }
  #yes-btn {
    top: 75%;
    left: 15%;
  }
  #download-btn {
    top: 75%;
    left: 35%;
  }
}

@media only screen and (min-width: 321px) and (max-width: 375px) {
  #iam-not {
    top: 75%;
    left: 25%;
  }
  #no-btn {
    top: 75%;
    left: 57%;
  }
  #yes-btn {
    top: 75%;
    left: 12%;
  }
  #download-btn {
    top: 75%;
    left: 32%;
  }
}

@media only screen and (min-width: 300px) and (max-width: 320px) {
  #iam-not {
    top: 75%;
    left: 20%;
  }
  #no-btn {
    top: 75%;
    left: 57%;
  }
  #yes-btn {
    top: 75%;
    left: 12%;
  }
  #download-btn {
    top: 75%;
    left: 30%;
  }
}
