.container {
background-color: aquamarine;
}
#dumb-display {
  margin: auto;
  background-color: white;
  position: relative;
  border-radius: 10px;
  box-shadow: 5px 5px 10px gray;
}
h1 {
  text-align: center;
}
/* Button Area  Start*/
#no-btn {
  position: absolute;
  /* top: 540px;
  left: 540px;
  z-index: 99999; */
}
#iam-not{
  position: absolute;
}
#yes-btn{
  position: absolute;
}
/* Button Area End */
#dumb-question {
  display: none;
}
#dumb-answer {
  display: none;
}
