#dumb-display {
    margin: auto;
    width: 600px;
    background-color: rgb(231, 230, 230);
    height: 600px;
    position: relative;
  }
  h1 {
    text-align: center;
  }
  #no-btn {
    position: absolute;
    top: 540px;
    left: 540px;
  }
  #dumb-answer {
    display: none;
  }
  
  